#main {
    margin: 0 auto;
}
    body {background-color: rgba(200, 198, 206, 0.849);} 
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    li {text-align: center;}
    ul {text-align: center;}
    